*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.form-houder{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px 60px 70px;
    text-align: center;
}
.form-houder h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: rgb(14, 13, 13);
    position: relative;
}

.form-houder h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: rgb(14, 13, 13);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%) ;
}
.inputVeld{
    background: rgb(238, 238, 238);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px
}
.inputVeld i{
    margin-left: 15px;
    color: rgb(14, 13, 13);
}

form p{
    text-align:  left;
    font-size:  13px;
}